<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') -%>

<body>

  <%- include('../partials/header') -%>

  <% if (Object.keys(rows).length===0) { %>
  <div class="container text-center">
    <h3>Ingen logger</h3>
  </div>
  <% } else { %>
  <div class="container pb-3">
    <% let allKeys=Object.keys(rows); %>
    <% allKeys.reverse(); %>
    <% for (key of allKeys) { %>
    <a href="/logg/<%= rows[key].rowid %>">
      <div class="row align-items-start fira-sans-medium text-white m-1 border border-success border-2">
        <div class="col">
          <%= rows[key].rowid %>
        </div>
        <div class="col d-none d-md-block">
          <%= rows[key].logg_dato.substring(0, 11) %>
        </div>
        <div class="col">
          <%= rows[key].navn.substring(0, 10) %>
        </div>
        <div class="col d-none d-md-block">
          <%= rows[key].epost.substring(0, 10) %>
        </div>
        <div class="col d-none d-md-block">
          <%= rows[key].tlf.substring(0, 10) %>
        </div>
        <div class="col d-none d-md-block">
          <%= rows[key].leie_dato %>
        </div>
        <div class="col d-none d-md-block">
          <%= rows[key].tekst.substring(0, 10) %>
        </div>
        <div class="col d-none d-md-block">
          <%= rows[key].lokaler.substring(0, 10) %>
        </div>
        <% if (rows[key].tilbakemelding==="OK" ) { %>
        <div class="col" style="color:yellow;">
          <%= rows[key].tilbakemelding.substring(0, 10) %>
        </div>
        <% } else { %>
        <div class="col text-danger">
          <%= rows[key].tilbakemelding.substring(0, 10) %>
        </div>
        <% } %>
      </div>
    </a>
    <% } %>
  </div>
  <div class="container pb-3">
    <a href="/logout" class="btn btn-primary">Logg ut</a>
  </div>
  <% } %>

  <script>
    document.getElementById("brand").textContent = "Logg";
  </script>

  <%- include('../partials/foother') -%>

</body>

</html>