<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') -%>
</head>

<body>

  <header>
    <%- include('../partials/header') -%>
  </header>

  <% if (Object.keys(rows).length === 0) { %>
  <div class="container text-center">
    <h3>Ingen logger</h3>
  </div>
  <% } else { %>
  <div class="container-fluid">
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Logg dato</th>
          <th scope="col">Navn</th>
          <th scope="col">E-post</th>
          <th scope="col">Telefon</th>
          <th scope="col">Dato</th>
          <th scope="col">Formål</th>
          <th scope="col">Lokaler</th>
          <th scope="col">Tilbakemelding</th>
        </tr>
      </thead>
      <tbody>
        <% let allKeys = Object.keys(rows); %>
        <% allKeys.reverse(); %>
        <% for (key of allKeys) { %>
        <tr>
          <th scope="row">
            <%= rows[key].rowid %>
          </th>
          <td>
            <%= rows[key].logg_dato %>
          </td>
          <td>
            <%= rows[key].navn %>
          </td>
          <td>
            <%= rows[key].epost %>
          </td>
          <td>
            <%= rows[key].tlf %>
          </td>
          <td>
            <%= rows[key].leie_dato %>
          </td>
          <td>
            <%= rows[key].tekst %>
          </td>
          <td>
            <%= rows[key].lokaler %>
          </td>
          <td>
            <%= rows[key].tilbakemelding %>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <form action="/logout" method="post">
      <button type="submit" class="btn btn-primary btn-lg">Logg ut</button>
    </form>
  </div>
  <% } %>

  <script>
    document.getElementById("brand").textContent = "Logg";
  </script>

  <footer>
    <%- include('../partials/foother') -%>
  </footer>

</body>

</html>