<!-- views/pages/tilbakemelding.ejs -->
<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') -%>

<body>

  <%- include('../partials/header') -%>

  <div class="pt-3 fira-sans-medium d-flex container justify-content-center" id="tilbakemelding">
    <% if (sjekk) { %>
    <%= message %>
    <% } else { %>
    Feil ved innsending av skjema:<br>
    Feilmelding: <%= message %>
    <% } %>
  </div>

  <%- include('../partials/footer') -%>

</body>

</html>